@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient {
    background: linear-gradient(135deg, #13172c, #030825, #4a3f7a, #263b59);
}

/* @media (max-width: 768px) {
    .slider-item {
      height:400px; 
      width: 400px;  
      margin: 0 auto; 
    }
  
    .slider-image {
      height: 100%;
      width: 100%;
      object-fit: fill;
      object-position: center;
    }
  }
  
  @layer components {
    .square-img {
      @apply h-full w-full object-cover;
    }
  
    @screen md {
      .square-img {
        @apply h-[500px]; 
      }
    }
  
    @screen lg {
      .square-img {
        @apply h-[500px];
      }
    }
  } */
  
a.active hr{
  display:block;
}
 
